@use '../abstract/colors' as *;

.card {
    background-color: $white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 0%;  
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;
    width: 400px;
    height: auto;
}
  
.card img {
    object-fit: cover;
    width: 100%;
    max-height: 350px;
}

.card:hover{
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s ease;
}

.card p {
    text-align: center;
    font-size: 1.2rem;
    background-color: $white;
    margin-top: 1.5em;
}