@use '../abstract/colors' as *;

 .card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    span.loader{
        margin: 50px;
    }
}
.title__center{
    display: flex;
    justify-content: center;

    text-transform: uppercase;
    margin-bottom: 15px;
}

