@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;


// contiene todo lo repetitivo
* {
    background-color: $bg-primary;
}

body{
    padding: 60px;
    font-family: Helvetica, Arial, sans-serif;

}

@include colorize-headings($title-color);
@include responsive-heading-sizes();



